
.appContainer {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 100%;
  margin-top: 40px;
  //margin-left: 350px;

  .toDosContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    border: 1px solid lightgrey;
    padding: 20px;

  }
}


//@media  screen and (max-width: 1000px) {
//  .appContainer{
//    margin-left: ;
//  }
//}
