
.tasksContainer {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 90%;
  margin-left: 50px;
  margin-top: 100px;
  position: relative;

  // z-index: 50;
  .headerTasksBlock {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .columnBlock {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;

    .column {
      border: 2px solid aqua;
      border-radius: 5px;
      overflow-y: hidden;
      width: 350px;
      height: 500px;

      .h1 {
        display: flex;
        justify-content: center;
        background-color: deepskyblue;
        opacity: 0.8;
        width: auto;
        height: auto;

      }
    }

    .column:hover {
      box-shadow: 3px -2px 6px aqua;
    }

  }


  //.column {
  //  display: flex;
  //  width: 300px;
  //  height: 500px;
  //  background-color: #aebad2;
  //}

}


.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  z-index: 2;

  .searchContainer {
    margin-top: 20px;
    width: 35%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(200, 239, 230);
    border-radius: 6px;
    z-index: 50;
    //box-shadow: 4px 3px 4px 0 lightgrey
    .addTaskBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

}


.taskBlock {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 10px;

}

.inputBlock {
  display: flex;
  flex-direction: column;
  height: 150px;



}

.buttonBlock {
  margin: 15px 5px
}

.li {
  height: 100%;
  width: 100%;
  list-style-type: none;
  line-height: 1.8;
  border: 1px solid lightgrey;
  box-shadow: 5px 5px 5px lightslategray;
  cursor: grabbing;
  padding: 10px;

  .task {
    display: flex;
    flex-direction: column;

    .description {
      display: flex;
      margin-left: 10px;
    }

    .titleTaskBlock {
      display: flex;
      align-items: center;

      .checkbox {
        margin-left: 20px;
      }

      .editableSpan {
        margin-left: 20px;
      }
    }
  }

}


// стили для подзадач и модалки
.microTaskLi {
  height: 100%;
  width: 100%;
  list-style-type: none;
  line-height: 1.8;

  .microTasksContainer {
    display: flex;
    justify-content: space-around;
  }

  .microTasksText {
    text-decoration: line-through;
    opacity: 0.5;
  }
}

.microTaskModal {
  width: 300px;
  height: 300px;
  position: fixed;
  background-color: rgb(200, 239, 230);
  display: flex;
  z-index: 100;

  .microTaskBlock {
    display: flex;
    flex-direction: column;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}

.btn {
  height: 35px;

}

.activeBtn {
  border: none;
  color: white;
  background: cornflowerblue;
  cursor: pointer;
}

.notActiveBtn {
  border: none;
  background: white;
  opacity: 0.5;
}

.buttonFilter {
  border: none;
  cursor: pointer;
  background-color: #8cafee;
  color: white;
}

.buttonFilter:active {
  background-color: #e73232;
}

@media screen and (max-height: 380px) {


}
